<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="ROOT_PATH" value="{ROOT_PATH}"/>
    <add key="LOG_PATH" value="{ROOT_PATH}execution.log"/>
    <add key ="DEVELOPER" value="false"/>
  </appSettings>
</configuration>
